.skills-container {
    padding: 20px;
    text-align: center;
  }

  .skills-title {
    font-size: 2.3rem;
    margin-bottom: 20px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 0.7fr); 
    grid-template-rows: repeat(2, 0.7fr);
    gap: 30px;
    margin-top: 20px;
  }
  
  .skill-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    text-align: center;
  }
  
  .skills-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .skill-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .skill-label {
    margin-top: 8px;
    font-size: 14px; 
    text-align: center;
  }
  